@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
  padding: 60px 0;
}

.container {
  width: 962px;
}

.display-container {
  padding: 16px 24px 16px;
  background-color: gray;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.container-table {
  display: table;
}
.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.panel-h {
  font-weight: 700;
  font-size: 16px;
}

.general-form {
  margin: 25px;
}

.general-form input {
  margin-bottom: 10px;
}

.general-form-btn {
  margin-top: 15px;
  width: 100%;
}

.sort-tag {
  color: #000;
}

.sort-tag:hover {
  text-decoration: none;
}

.signin-panel {
  width: 300px;
}

.beer-box {
  margin-bottom: 24px;
  color: #fff;
}

.beer-title {
  font-size: 22px;
}

.beer-name {
  font-family: 'Bree Serif', serif;
}

.beer-brewery {
  font-size: 18px;
}

.beer-info {
  opacity: 0.60;
}
